.container-admin-book {
    display: flex;
    min-height: 100vh;
    background-color: rgba(239, 239, 239, 0.5);
}

.content-admin-book {
    width: 75%;
    padding: 10px 30px;
    margin-top: 20px;
}

.title-content-admin-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-content-admin-book > h3 {
    color: #000;
}

.search-admin-book {
    border-radius: 20px;
    width: 300px;
    font-size: 16px;
    background-color: #e5e5e5;
}

.search-admin-book > input {
    width: 250px;
    margin: 5px 10px;
    padding: 0px 15px;
    background-color: #e5e5e5;
    border: none;
    outline: none;
}

.search-admin-book > i {
    color: #000;
}

.body-content-admin-book {
    border: 1px solid gray;
    border-radius: 5px;
    /* height: 80vh; */
    background-color: #fff;
    margin-top: 20px;
    /* overflow-y: scroll; */
    /* scroll-behavior: smooth; */
}

.body-header-admin-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.body-header-admin-book > h5 {

}

.body-header-admin-book i {
    font-size: 30px;
    color: blue;
}

.body-header-admin-book:hover > i {
    opacity: 0.7;
} 

.table-content-admin-book {
    width: 100%;
    position: relative;
}

.table-content-admin-book tr {
    text-align: center;
    font-weight: 600;
}

.table-content-admin-book tr:hover .btn-icon-admin-book {
    background-color: none
    
}

.table-content-admin-book tr:hover  {
    background-color: #e5e5e5;
}

.table-content-admin-book th {
    text-align: center;
    min-width: 30px;
    color: #6c757d;
    border-bottom: 1px solid #000;
    padding: 15px;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.table-content-admin-book td {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
}

.table-content-admin-book td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-content-admin-book td:last-child button {
    margin: 0 5px;
}

.link-orderdetail-adminbook {
    color: #000;
}  


.btn-icon-admin-book{
    border: none;
    background-color: #fff;
}
.icon-admin-book{
    width: 25px;
    height: 25px;
    margin:3px;

}
.icon-admin-book :hover{
    cursor: pointer !important;
}

.bookName-admin-long {
    display: inline-block;
    width: 280px;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

 
.body-content-admin-book div div table tbody tr td :hover{
    cursor: pointer;
}