#tracking-input {
	width: 70%;
}
#btnTracking {
	background: #e03;
	border-radius: 5px;
	border: 0;
	color: #fff;
	font-family: "SF UI Text Bold";
	width: 154px;
	height: 38px;
	font-size: 16px;
	text-transform: uppercase;
	text-align: left;
	padding: 0 15px;
	position: relative;
	margin-top: 15px;
	cursor: pointer;
}
#btnTracking:after {
	content: "";
	display: inline-block;
	width: 30px;
	height: 38px;
	background: url(https://viettelpost.vn/viettelpost-iframe/assets/images/ic-submit.png) left no-repeat;
	position: absolute;
	right: 25px;
	top: 0;
}
.order-title {
	font-weight: bold;
	font-size: 23px;
	color: red;
	margin-left: 15px;
	margin-right: 15px;
}
.order-content {
	font-weight: bold;
	font-size: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
.order-price {
	font-weight: bold;
	font-size: 17px;
	color: rgb(243, 229, 38);
	margin-left: 15px;
	margin-right: 15px;
	min-height: 26px;
}
.order-status {
	font-weight: bold;
	font-size: 17px;
	color: rgb(40, 237, 36);
	margin-left: 15px;
	margin-right: 15px;
	min-height: 26px;
}
